.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,1)), url("images/pexelsphoto2786447.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1680px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 5127px 2213px 0 -913px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -336px 2213px 60px -913px;
}

.u-section-1 .u-text-3 {
  background-image: none;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  width: 89px;
  margin: 90px auto 0;
}

.u-section-1 .u-image-1 {
  width: 439px;
  height: 101px;
  margin: -72px 65px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 124px;
  object-position: 50% 50.5%;
  margin: -123px auto 0 0;
}

.u-section-1 .u-text-4 {
  line-height: 52.8px;
  font-style: normal;
  font-size: 3rem;
  margin: 1px 200px 0 201px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1.875rem;
  background-image: none;
  margin: 33px auto 0 445px;
  padding: 8px 35px 9px;
}

.u-section-1 .u-text-5 {
  font-size: 4.5rem;
  text-transform: uppercase;
  animation-duration: 1000ms;
  font-weight: 700;
  margin: 85px 529px 0 0;
}

.u-section-1 .u-line-1 {
  width: 400px;
  height: 15px;
  transform-origin: center top 0px;
  animation-duration: 1000ms;
  margin: 14px auto 0 0;
}

.u-section-1 .u-image-3 {
  height: 485px;
  width: 1140px;
  margin: 120px auto 0;
}

.u-section-1 .u-group-1 {
  width: 349px;
  margin: -15px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-line-2 {
  width: 100px;
  height: 3px;
  margin: 25px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 17px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  margin: 26px 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
  margin: 49px 43px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 34px auto 0 0;
  padding: 10px 47px;
}

.u-section-1 .u-group-2 {
  width: 348px;
  min-height: 410px;
  margin: -406px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 50px 30px;
}

.u-section-1 .u-line-3 {
  width: 100px;
  height: 3px;
  margin: 34px auto 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  margin: 34px 0 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
  margin: 42px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 34px auto 0 0;
  padding: 10px 47px;
}

.u-section-1 .u-group-3 {
  width: 348px;
  min-height: 406px;
  margin: -410px 0 60px auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 50px 30px;
}

.u-section-1 .u-line-4 {
  width: 100px;
  height: 3px;
  margin: 34px auto 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.5rem;
  margin: 34px 0 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
  margin: 76px 0 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 34px auto 0 0;
  padding: 10px 47px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1595px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 2113px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 2013px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 81px;
  }

  .u-section-1 .u-image-1 {
    width: 335px;
    height: 73px;
    margin-top: -58px;
    margin-right: 76px;
  }

  .u-section-1 .u-image-2 {
    width: 419px;
    margin-top: -103px;
    margin-left: 51px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 5px;
    margin-right: 100px;
    margin-left: 101px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 54px;
    margin-right: 329px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 64px;
    margin-right: 329px;
  }

  .u-section-1 .u-image-3 {
    height: 400px;
    margin-top: 43px;
    width: 940px;
  }

  .u-section-1 .u-group-1 {
    width: 294px;
    min-height: 487px;
    margin-top: -9px;
  }

  .u-section-1 .u-line-2 {
    margin-top: 16px;
    margin-right: 43px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 26px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 80px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 45px;
    padding: 9px 35px 11px 34px;
  }

  .u-section-1 .u-group-2 {
    width: 294px;
    min-height: 484px;
    margin-top: -487px;
  }

  .u-section-1 .u-line-3 {
    margin-top: 26px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 25px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 31px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 45px;
    margin-right: 0;
    margin-left: auto;
    padding: 9px 35px 11px 34px;
  }

  .u-section-1 .u-group-3 {
    width: 294px;
    min-height: 487px;
    margin-top: -487px;
  }

  .u-section-1 .u-line-4 {
    margin-top: 26px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 29px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 146px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 45px;
    margin-right: 0;
    margin-left: auto;
    padding: 9px 35px 11px 34px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2806px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 2003px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 1793px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 116px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 63px;
    margin-top: 18px;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -241px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.5rem;
    width: auto;
    margin-top: 134px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
    margin-top: 31px;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 49px;
    margin-right: 109px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 0;
  }

  .u-section-1 .u-image-3 {
    height: 306px;
    margin-top: 62px;
    width: 720px;
  }

  .u-section-1 .u-group-1 {
    width: 400px;
    margin-top: 723px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 54px;
    padding: 10px 71px;
  }

  .u-section-1 .u-group-2 {
    width: 400px;
    margin-top: -1150px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 54px;
    margin-right: auto;
    margin-left: 0;
    padding: 10px 70px;
  }

  .u-section-1 .u-group-3 {
    width: 400px;
    margin-top: 794px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 60px;
    margin-right: -2px;
    margin-left: 2px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 62px;
    margin-right: auto;
    margin-left: 0;
    padding-right: 71px;
    padding-left: 71px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1123px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 286px;
    margin-right: 2163px;
    margin-left: -663px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 1863px;
    margin-left: -663px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 278px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 230px;
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2727px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 297px;
    margin-left: -563px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 1763px;
    margin-bottom: 0;
    margin-left: -563px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    margin-top: 109px;
  }

  .u-section-1 .u-image-1 {
    width: 224px;
    height: 43px;
    margin-top: 25px;
  }

  .u-section-1 .u-image-2 {
    height: 101px;
    margin-top: -224px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
    margin-top: 165px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 40px;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
    margin-top: 132px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    height: 145px;
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,1)), url("images/david-dvoracek-h8ElUo_473c-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 837px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  animation-duration: 1000ms;
  font-weight: 700;
  margin: 43px 0 0;
}

.u-section-2 .u-line-1 {
  width: 400px;
  height: 15px;
  transform-origin: center top 0px;
  animation-duration: 1000ms;
  margin: 13px auto 0 0;
}

.u-section-2 .u-form-1 {
  height: 349px;
  width: 570px;
  margin: 5px auto 0;
}

.u-section-2 .u-label-1 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-2 .u-label-2 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-label-3 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 64px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    background-size: 160%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 102px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
  }
}